EXERCISE FILE - 1: Ã–MER CEM TABAR

1\. **The HelloWorld replacement Part(a)**

In [5]:
Collection = []
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        print("HelloWorld")
        Collection.append("HelloWorld")
    elif i % 3 == 0:
        print("Hello")
        Collection.append("Hello")
    elif i % 5 == 0:
        print("World")
        Collection.append("World")
    else:
        print(i)
        Collection.append(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

1\. **The HelloWorld replacement Part(b)**

In [6]:
for i in range(len(Collection)):
    if Collection[i] == "HelloWorld":
        Collection[i] = "PythonWorks"
    elif Collection[i] == "Hello":
        Collection[i] = "Python"
    elif Collection[i] == "World":
        Collection[i] = "Works"
    else:
        Collection[i] = Collection[i]
tupleList = tuple(Collection)
print(tupleList)

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. **The swap**

In [8]:
x = input("Please enter the first input variable: ")
y = input("Pleaser enter the second input variable: ")

x_before = x
y_before = y

x,y = y,x
print("Before the swap operation x was: " + x_before + ", after the swap operation the new value of x is: " + x)
print("Before the swap operation y was: " + y_before + ", after the swap operation the new value of y is: " + y)

Please enter the first input variable:  ScientificComputingWithPython2022
Pleaser enter the second input variable:  04112022

Before the swap operation x was: ScientificComputingWithPython2022, after the swap operation the new value of x is: 04112022
Before the swap operation y was: 04112022, after the swap operation the new value of y is: ScientificComputingWithPython2022

3\. **Computing the distance**

In [9]:
import math
def EuclidianDistance(u,v):
    result = math.sqrt(((v[0]-u[0])**2)+((v[1]-u[1])**2))
    return int(result)
a = input("Please enter the x-value of the first input variable:")
b = input("Please enter the y-value of the first input variable:")
c = input("Please enter the x-value of the second input variable:")
d = input("Please enter the y-value of the second input variable:")
u = (int(a),int(b))
v = (int(c),int(d))
returnedResult = EuclidianDistance(u,v)
print("Euclidian Distance between two points : " + str(returnedResult))

Please enter the x-value of the first input variable: 3
Please enter the y-value of the first input variable: 0
Please enter the x-value of the second input variable: 0
Please enter the y-value of the second input variable: 4

Euclidian Distance between two points : 5

4\. **Counting letters**

In [10]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

def CountCharacterOccurencesInSentence(s):
    OccuredList = []
    OccurenceDictionary = {}
    s = s.lower()
    for i in range(len(s)):
        if s[i] not in OccuredList:
            OccuredList.append(s[i])
            OccurenceDictionary[s[i]] = 1
        else:
            
            OccurenceDictionary[s[i]] = OccurenceDictionary[s[i]] + 1
    for i in OccurenceDictionary.keys():
        print("Number of occurence of the character '" + i + "' occured " + str(OccurenceDictionary[i]) + " time(s) in the sentence.")
        
print("Occurences in the first sentence can be shown as follows:")
CountCharacterOccurencesInSentence(s1)
print("")
print("Occurences in the second sentence can be shown as follows:")
CountCharacterOccurencesInSentence(s2)

Occurences in the first sentence can be shown as follows:
Number of occurence of the character 'w' occured 4 time(s) in the sentence.
Number of occurence of the character 'r' occured 19 time(s) in the sentence.
Number of occurence of the character 'i' occured 12 time(s) in the sentence.
Number of occurence of the character 't' occured 19 time(s) in the sentence.
Number of occurence of the character 'e' occured 20 time(s) in the sentence.
Number of occurence of the character ' ' occured 41 time(s) in the sentence.
Number of occurence of the character 'a' occured 7 time(s) in the sentence.
Number of occurence of the character 'p' occured 8 time(s) in the sentence.
Number of occurence of the character 'o' occured 15 time(s) in the sentence.
Number of occurence of the character 'g' occured 1 time(s) in the sentence.
Number of occurence of the character 'm' occured 8 time(s) in the sentence.
Number of occurence of the character 'h' occured 11 time(s) in the sentence.
Number of occurence of the character 'n' occured 10 time(s) in the sentence.
Number of occurence of the character 's' occured 7 time(s) in the sentence.
Number of occurence of the character 'u' occured 7 time(s) in the sentence.
Number of occurence of the character 'b' occured 5 time(s) in the sentence.
Number of occurence of the character 'f' occured 10 time(s) in the sentence.
Number of occurence of the character '1' occured 2 time(s) in the sentence.
Number of occurence of the character '0' occured 2 time(s) in the sentence.
Number of occurence of the character '.' occured 3 time(s) in the sentence.
Number of occurence of the character 'l' occured 12 time(s) in the sentence.
Number of occurence of the character 'd' occured 5 time(s) in the sentence.
Number of occurence of the character 'v' occured 2 time(s) in the sentence.
Number of occurence of the character 'c' occured 1 time(s) in the sentence.

Occurences in the second sentence can be shown as follows:
Number of occurence of the character 't' occured 2 time(s) in the sentence.
Number of occurence of the character 'h' occured 2 time(s) in the sentence.
Number of occurence of the character 'e' occured 3 time(s) in the sentence.
Number of occurence of the character ' ' occured 8 time(s) in the sentence.
Number of occurence of the character 'q' occured 1 time(s) in the sentence.
Number of occurence of the character 'u' occured 2 time(s) in the sentence.
Number of occurence of the character 'i' occured 1 time(s) in the sentence.
Number of occurence of the character 'c' occured 1 time(s) in the sentence.
Number of occurence of the character 'k' occured 1 time(s) in the sentence.
Number of occurence of the character 'b' occured 1 time(s) in the sentence.
Number of occurence of the character 'r' occured 2 time(s) in the sentence.
Number of occurence of the character 'o' occured 4 time(s) in the sentence.
Number of occurence of the character 'w' occured 1 time(s) in the sentence.
Number of occurence of the character 'n' occured 1 time(s) in the sentence.
Number of occurence of the character 'f' occured 1 time(s) in the sentence.
Number of occurence of the character 'x' occured 1 time(s) in the sentence.
Number of occurence of the character 'j' occured 1 time(s) in the sentence.
Number of occurence of the character 'm' occured 1 time(s) in the sentence.
Number of occurence of the character 'p' occured 1 time(s) in the sentence.
Number of occurence of the character 's' occured 1 time(s) in the sentence.
Number of occurence of the character 'v' occured 1 time(s) in the sentence.
Number of occurence of the character 'l' occured 1 time(s) in the sentence.
Number of occurence of the character 'a' occured 1 time(s) in the sentence.
Number of occurence of the character 'z' occured 1 time(s) in the sentence.
Number of occurence of the character 'y' occured 1 time(s) in the sentence.
Number of occurence of the character 'd' occured 1 time(s) in the sentence.
Number of occurence of the character 'g' occured 1 time(s) in the sentence.

5\. **Isolating the unique**

In [11]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def CountUniqueNumbers(mixedList):
    Unique = []
    for element in mixedList:
        if element not in Unique:
            Unique.append(element)
    print("There are " + str(len(Unique)) + " unique numbers which are: " + str(Unique))

CountUniqueNumbers(l)

There are 54 unique numbers which are: [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

6\. **Casting**

In [20]:
a = input("Please enter the first value for addition: ")
b = input("Please enter the second value for addition: ")

try:
    #Check whether the input 'a' is float/int
    #Since both int and float can be converted into float
    x = float(a)
    if a == str(float(a)):
        
        print("First input is a float!")
        try:
                
            #Check whether the input 'a' is float/int
            #Since both int and float can be converted into float
            y = float(b)
            if b == str(float(b)):
                print("Second input is also a float!")
                print("Addition operation will result in a float number: " + str(float(a)+float(b)))
            else:
                print("Second input is an integer!")
                print("Addition operation will result in a float number: " + str(float(a)+int(b)))

        except:
            print("Second input is a string!")
            #Input 'b' is not a float or int, hence it is string
            #You cannot add float with string
            print("You cannot do the addition operation between float and string!!!!")
    else:
        print("First input is an integer!")
        try:
           #Check whether the input 'b' is float/int
           #Since both int and float can be converted into float
            y = float(b)
            if b == str(float(b)):
                print("Second input is a float!")
                print("Addition operation will result in a float number: " + str(float(a)+float(b)))
            else:
                print("Second input is also an integer!")
                print("Addition operation will result in a integer number: " + str(int(a)+int(b)))

        except:
            #Input 'b' is not a float or int, hence it is string
            #You cannot add integer with string
            print("Second input is a string!")
            print("You cannot do the addition operation between integer and string!!!!")


except:
    #Input 'a' is not a float, hence it is string
    print("First input is a string!")
    try:
        #Check whether the input 'b' is float/int
        #Since both int and float can be converted into float
        y = float(b)
        if b == str(float(b)):
            print("Second input is a float!")
            print("You cannot do the addition operation between a string an a float!!!!")
        else:
            print("Second input is an integer!")
            print("You cannot do the addition operation between a string and an integer!!!!")


    except:
        print("Second input is also a string!")
        #Input 'b' is not a float or int, hence it is string
        #Concatanate the string then
        print("Both of the inputs are strings hence result will be concatanated as follows: " + str(a+b) )

Please enter the first value for addition:  Ã–merCemTabar
Please enter the second value for addition:  ScientificComputingWithPython

First input is a string!
Second input is also a string!
Both of the inputs are strings hence result will be concatanated as follows: Ã–merCemTabarScientificComputingWithPython

7\. **Cubes Part(a)**

In [22]:
cubesListwithLoop = []
for i in range(0,11):
    cubesListwithLoop.append(i**3)
print(cubesListwithLoop)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

7\. **Cubes Part(b)**

In [23]:
cubesListwithComprehension = [i**3 for i in range(0,11)]
print(cubesListwithComprehension)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. **List comprehension**

In [24]:
a = []
for i in range(3):
    for j in range(4):
        a.append((i, j))
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [25]:
ListComprehension = [(x,y) for x in range(3)  for y in range(4)]
print(ListComprehension)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

9\. **Nested list comprehension**

In [26]:
PythagoreanTriple = [d for d in [(x,y,z) for x in range(1,100) for y in range(1,100) for z in range(0,100)if x**2 + y**2 == z**2 and x < z and y < z] if d[0] < d[1]]
print(PythagoreanTriple)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]

10\. **Normalization of a N-dimensional vector**

In [27]:
import math as m
vector = (1083, 1406, 585, 812, 1301, 1147, 246, 427, 1385, 699, 254, 1417, 1477, 148, 1068, 306, 954, 5, 1362, 1416, 1247, 1287, 1216, 250, 693, 1284, 843, 944, 1362, 1442, 1208, 149, 601, 425, 96, 1065, 3, 721, 903, 627, 746, 292, 474, 375, 1259, 618, 123, 145, 139, 174, 1012, 608, 769, 841, 612, 1090, 1257, 356, 1233, 1411, 295, 471, 1145, 150, 1208, 357, 904, 207, 343, 803, 671, 402, 508, 126, 934, 649, 1221, 71, 1015, 1257, 1414, 643)
v = list(vector)
squared_summation = 0

for i in range(0,len(v)):
    squared_summation += v[i]**2
    
rooted_squared_sum = m.sqrt(squared_summation)

for i in range(0,len(v)):
    v[i] = v[i] / rooted_squared_sum
    
vector = tuple(v)
print("After the normalization process we retrieved norms as follows:")
print(vector)
    
probabilistic_sum = 0
for i in range(0, len(vector)):
    probabilistic_sum += vector[i]**2

print("After the normalization process, summation of the norms are: " + str(probabilistic_sum))

After the normalization process we retrieved norms as follows:
(0.1359228088139356, 0.17646119039002164, 0.07342090780808155, 0.10191073015412346, 0.16328307873216086, 0.14395518163396503, 0.03087443302698814, 0.05359098740863389, 0.17382556805844948, 0.08772857189375899, 0.03187847962949182, 0.1778417544684642, 0.1853721039872418, 0.01857486214631807, 0.13404022143424119, 0.03840478254576574, 0.11973255734856376, 0.0006275291265647996, 0.1709389340762514, 0.17771624864315125, 0.15650576416526102, 0.1615259971777794, 0.15261508358055928, 0.03137645632823998, 0.08697553694188123, 0.16114947970184054, 0.10580141073882522, 0.11847749909543416, 0.1709389340762514, 0.1809794001012882, 0.15161103697805559, 0.018700367971631028, 0.07542900101308891, 0.05333997575800797, 0.012048559230044152, 0.13366370395830232, 0.00037651747593887977, 0.0904897000506441, 0.1133317602576028, 0.07869215247122587, 0.0936273456834681, 0.0366477009913843, 0.059489761198343004, 0.04706468449235997, 0.15801183406901653, 0.07756260004340923, 0.01543721651349407, 0.018198344670379188, 0.017445309718501428, 0.021838013604455028, 0.12701189521671544, 0.07630754179027964, 0.09651397966566617, 0.1055503990881993, 0.07680956509153147, 0.1368013495911263, 0.15776082241839062, 0.044680073811413736, 0.1547486826108796, 0.17708871951658645, 0.03702421846732318, 0.059113243722404125, 0.14370416998333913, 0.01882587379694399, 0.15161103697805559, 0.04480557963672669, 0.11345726608291577, 0.025979705839782704, 0.04304849808234525, 0.10078117772630682, 0.08421440878499611, 0.05045334177580989, 0.06375695925898364, 0.01581373398943295, 0.11722244084230457, 0.081453280628111, 0.15324261270712405, 0.008910913597220155, 0.12738841269265433, 0.15776082241839062, 0.17746523699252534, 0.08070024567623323)
After the normalization process, summation of the norms are: 0.9999999999999999

11\. **The Fibonacci sequence**

In [28]:
FibonacciNumbers = []
counter = 0
while counter < 20:
    if counter == 0:
        FibonacciNumbers.append(counter)
        counter += 1
    elif counter == 1:
        FibonacciNumbers.append(counter)
        counter += 1
    else:
        FibonacciNumbers.append(FibonacciNumbers[counter-2] + FibonacciNumbers[counter-1])
        counter += 1
print(FibonacciNumbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]